* {
  font-family: "Noto Sans KR", sans-serif;
}
.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  top: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-header {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000;
}
.component-header img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.component-header h1 {
  font-weight: 700;
}

.component-section {
  width: 100%;
  height: 65vh;
}

.component-footer {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: #07121a;
}
.component-footer p {
  color: #fff;
  margin: 10px 20px 0px 0px;
  text-align: right;
  font-size: 16px;
}
.component-footer .addthis_inline_share_toolbox {
  position: absolute;
  right: 10px;
  top: 50px;
}
.component-footer .kakao-adfit {
  position: absolute;
  top: 10%;
  left: 10px;
}

.component-footer p::after {
  display: block;
  content: "일러스트 출처 ㅣ 리그오브레전드";
  font-size: 13px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .main-header img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 300px) and (max-width: 640px) {
  .component-section {
    height: 50vh;
  }
  .component-footer {
    height: 35vh;
  }
  .component-footer .kakao-adfit {
    top: 40%;
    right: 10px;
  }
}
