.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-section::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -10;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section::before {
  left: 0;
  width: 100%;
  background: url("../../img/sf2.jpg") center center/cover no-repeat;
}

.main-section p {
  margin: 70px 0px 30px 0px;
  font-size: 2rem;
  font-weight: 700;
  padding: 15px;
  color: white;
  border-radius: 30px;
}
.main-section .start {
  width: 100px;
  margin-bottom: 30px;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
  .main-section p {
    margin: 80px 50px;
  }
  .main-section::before {
    width: 100%;
    margin: 0px auto;
    background-size: 100% 100%;
    background: url("../../img/sf.jpg") center center/cover no-repeat;
  }
}
