.test-header {
  position: fixed;
  top: 0;
  z-index: 10;
}

.test-section {
  padding-top: 300px;
  background-image: url("../../img/sf3.jpg");
}
.test-section,
.test-section .question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.test-section .question {
  width: 50%;
  height: 40vh;
  background: #fff;
}
.test-section .question h3 {
  background-color: yellow;
  margin: 20px 0px 40px 0px;
}

.test-section a {
  margin: 20px 0px 20px 0px;
}

.test-section .question:not(:last-child)::after {
  display: block;
  content: "";
  width: 50%;
  height: 1px;
  color: #888;
  background-color: #222;
}

.btn-group {
  margin-bottom: 50px;
}
