.test-header {
  position: fixed;
  top: 0;
  z-index: 10;
}

.test-section {
  padding-top: 200px;
  background-image: url("../../img/sf3.jpg");
}
.test-section .h2-test {
  font-weight: bold;
  color: #fff;
  background-color: grey;
  padding: 20px 40px;
  border-radius: 50px;
}
.test-section .btn-result {
  margin: 100px 0px;
}
.test-section,
.test-section .question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.test-section .question {
  width: 50%;
  background: rgb(235, 235, 235);
  margin-top: 30px;
  border-radius: 20px;
}
.test-section .question h3 {
  background-color: yellow;
  margin: 50px 0px 40px 0px;
}

.test-section a {
  margin: 20px 0px 20px 0px;
}

.test-section .question p {
  width: 50%;
  line-height: 2;
  font-weight: 600;
}

.test-section .question > p {
  margin-bottom: 30px;
}

.question {
  border-bottom: 1px solid #888;
}

.btn-group {
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .test-section .question {
    width: 60%;
  }
  .test-section .question p {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .test-section .h2-test {
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 50px;
  }
  .test-section .question {
    width: 70%;
  }
  .test-section .question h3 {
    margin: 20px 50px 40px;
  }
}
